<ion-header>
  <ion-toolbar>
    <ion-title>Greener Alternatives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          Home
        </ion-card-header>
      </ion-card>
      <ion-card>
          <ion-card-header>
            Fashion
          </ion-card-header>
        </ion-card>

        <ion-card>
            <ion-card-header>
              Electricity
            </ion-card-header>
          </ion-card>
          <ion-card>
              <ion-card-header>
                Transportation
              </ion-card-header>
            </ion-card>
</ion-content>
