<ion-header>
  <ion-toolbar>
    <ion-title>page5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Oops !!! You used a vehicle
      </ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      ((Insert damage fact about bangalore)) </ion-card-content> </ion-card> </ion-content> <ion-footer>
        <ion-button expand="block" fill="outline">
          WOuld you switch to a greener mode ?
        </ion-button>
        </ion-footer>