<ion-header>
  <ion-toolbar>
    <ion-title>Calculate your Carbon Footprint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating" type="number">
      How many people live in your house ?
    </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" type="number">
      How much is your electricity bill ?
    </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" type="number">
        LPG cylinders consumed in a month ?
    </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" type="number">
      How many people live in your house ?
    </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" type="number">
      How much distance do you travel in a month ?
    </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" type="number">
      Do you recycle anything ?
    </ion-label>
    <ion-input></ion-input>
  </ion-item>


</ion-content>

<ion-footer>
  <ion-button expand="block" size="default">
    Calculate my current carbon score
  </ion-button>
</ion-footer>