<ion-header>
  <ion-toolbar>
    <ion-title>page8</ion-title>
  </ion-toolbar>
</ion-header>
<!-- https://www.atherenergy.com/images/homepage/mobile/home-charge-mobile@2x.jpg -->
<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      <ion-img src="https://www.atherenergy.com/images/homepage/mobile/home-charge-mobile@2x.jpg">
      </ion-img>

      <ion-card-content>
        Content about Ather to sell from our app platform
      </ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
    <ion-button expand="block">
        Buy!
      </ion-button>
</ion-footer>