<ion-header>
  <ion-toolbar>
    <ion-title>page4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          <ion-card-title>Congratulations!</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          You have won XYZ
          <ion-list>
              <ion-item>
                  <ion-img src="https://i.imgur.com/mqs0Ek8.png"></ion-img>
                <ion-label></ion-label>
              </ion-item>
            </ion-list>
        </ion-card-content>
      </ion-card>
      
</ion-content>
