<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item [routerLink]="['/home']" routerLinkActive="router-link-active" >
        Home
      </ion-item>
      <ion-item [routerLink]="['/page2']" routerLinkActive="router-link-active" >
        page2
      </ion-item>
      <ion-item [routerLink]="['/page3']" routerLinkActive="router-link-active" >
        page3
      </ion-item>
      <ion-item [routerLink]="['/page4']" routerLinkActive="router-link-active" >
        page4
      </ion-item>
      <ion-item [routerLink]="['/page5']" routerLinkActive="router-link-active" >
        page5
      </ion-item>
      <ion-item [routerLink]="['/page6']" routerLinkActive="router-link-active" >
        page6
      </ion-item>
      <ion-item [routerLink]="['/page7']" routerLinkActive="router-link-active" >
        page7
      </ion-item>
      <ion-item [routerLink]="['/page8']" routerLinkActive="router-link-active" >
        page8
      </ion-item>
      <ion-item [routerLink]="['/page9']" routerLinkActive="router-link-active" >
        page9
      </ion-item>
      <ion-item [routerLink]="['/page10']" routerLinkActive="router-link-active" >
        page10
      </ion-item>
      <ion-item [routerLink]="['/page11']" routerLinkActive="router-link-active" >
        page11
      </ion-item>
      <ion-item [routerLink]="['/page12']" routerLinkActive="router-link-active" >
        page12
      </ion-item>
      <ion-item [routerLink]="['/page13']" routerLinkActive="router-link-active" >
        page13
      </ion-item>

  </ion-list>

</ion-content>
